<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d2849a2c1a5d42bca5e42ef8b743bc4b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d2849a2c1a5d42bca5e42ef8b743bc4b" ></div>
        
</body>
<script>    
    
            var map_d2849a2c1a5d42bca5e42ef8b743bc4b = L.map(
                "map_d2849a2c1a5d42bca5e42ef8b743bc4b",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0b42c49d3b8c432fbd131a08a2eb9c6e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d2849a2c1a5d42bca5e42ef8b743bc4b);
        
    
            var feature_group_33fec1a4b3f64fb2a676deb23477dec6 = L.featureGroup(
                {}
            ).addTo(map_d2849a2c1a5d42bca5e42ef8b743bc4b);
        
    
            var marker_eb5b4329a0694cdd83794be01fde5d3a = L.marker(
                [36.70548522942926, -118.76707796420604],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_744b49c5f31d485db945fd5452d1efbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_eb5b4329a0694cdd83794be01fde5d3a.setIcon(icon_744b49c5f31d485db945fd5452d1efbc);
        
    
        var popup_b42b631dce474bf78c8c4b2c5b4557a6 = L.popup({"maxWidth": "100%"});

        
            var html_1654145909a44013ad14804ec176c7d6 = $(`<div id="html_1654145909a44013ad14804ec176c7d6" style="width: 100.0%; height: 100.0%;">moxie</div>`)[0];
            popup_b42b631dce474bf78c8c4b2c5b4557a6.setContent(html_1654145909a44013ad14804ec176c7d6);
        

        marker_eb5b4329a0694cdd83794be01fde5d3a.bindPopup(popup_b42b631dce474bf78c8c4b2c5b4557a6)
        ;

        
    
    
            var marker_f3e6a2f401614136a0f7e23cee7179cb = L.marker(
                [26.545072850717165, 117.85109629592516],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_3bc3764d39bb4df39f134c0add42f8a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "white", "prefix": "glyphicon"}
            );
            marker_f3e6a2f401614136a0f7e23cee7179cb.setIcon(icon_3bc3764d39bb4df39f134c0add42f8a2);
        
    
        var popup_cbee293b96394b15aa820f1e072cb0be = L.popup({"maxWidth": "100%"});

        
            var html_ad0c5a4ee31142b0862572fbf9504077 = $(`<div id="html_ad0c5a4ee31142b0862572fbf9504077" style="width: 100.0%; height: 100.0%;">HGJart</div>`)[0];
            popup_cbee293b96394b15aa820f1e072cb0be.setContent(html_ad0c5a4ee31142b0862572fbf9504077);
        

        marker_f3e6a2f401614136a0f7e23cee7179cb.bindPopup(popup_cbee293b96394b15aa820f1e072cb0be)
        ;

        
    
    
            var marker_adc02f494057440abd2f8e58ea0a72f9 = L.marker(
                [37.77985003292435, -122.4358989825293],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_7e046550fe5e41429f9b309d35656140 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_adc02f494057440abd2f8e58ea0a72f9.setIcon(icon_7e046550fe5e41429f9b309d35656140);
        
    
        var popup_59987e8c416545a592374a23a3b5a877 = L.popup({"maxWidth": "100%"});

        
            var html_0206752761e04f4f9b44203145027fb3 = $(`<div id="html_0206752761e04f4f9b44203145027fb3" style="width: 100.0%; height: 100.0%;">paraga</div>`)[0];
            popup_59987e8c416545a592374a23a3b5a877.setContent(html_0206752761e04f4f9b44203145027fb3);
        

        marker_adc02f494057440abd2f8e58ea0a72f9.bindPopup(popup_59987e8c416545a592374a23a3b5a877)
        ;

        
    
    
            var marker_4c63917ae2d54f5ba022bad1a32edcda = L.marker(
                [37.79779864318271, -122.35666233431127],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_3a5ceae41d524a448231841270504d4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "prefix": "glyphicon"}
            );
            marker_4c63917ae2d54f5ba022bad1a32edcda.setIcon(icon_3a5ceae41d524a448231841270504d4b);
        
    
        var popup_a7954bb4b0544846988e76599ae4485b = L.popup({"maxWidth": "100%"});

        
            var html_b45d44dc203c4426b1d20ea7c0742e40 = $(`<div id="html_b45d44dc203c4426b1d20ea7c0742e40" style="width: 100.0%; height: 100.0%;">BillyM2k</div>`)[0];
            popup_a7954bb4b0544846988e76599ae4485b.setContent(html_b45d44dc203c4426b1d20ea7c0742e40);
        

        marker_4c63917ae2d54f5ba022bad1a32edcda.bindPopup(popup_a7954bb4b0544846988e76599ae4485b)
        ;

        
    
    
            var marker_65b18d92b5ca4b919d893d0675290c47 = L.marker(
                [33.687496995975565, -117.93708740576923],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_f2945881316d425fa4d5ca1440a3e2e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_65b18d92b5ca4b919d893d0675290c47.setIcon(icon_f2945881316d425fa4d5ca1440a3e2e8);
        
    
        var popup_36918463f9624506a9548d890cefbe7f = L.popup({"maxWidth": "100%"});

        
            var html_b9c207bebc9a4261a6fc362945c065e1 = $(`<div id="html_b9c207bebc9a4261a6fc362945c065e1" style="width: 100.0%; height: 100.0%;">inspiration4x</div>`)[0];
            popup_36918463f9624506a9548d890cefbe7f.setContent(html_b9c207bebc9a4261a6fc362945c065e1);
        

        marker_65b18d92b5ca4b919d893d0675290c47.bindPopup(popup_36918463f9624506a9548d890cefbe7f)
        ;

        
    
    
            var marker_5a90bdd0d2f746bba06a097055731921 = L.marker(
                [39.768779284289266, -100.445502728327],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_e5d685c14d7f42a29034e8a760606096 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightred", "prefix": "glyphicon"}
            );
            marker_5a90bdd0d2f746bba06a097055731921.setIcon(icon_e5d685c14d7f42a29034e8a760606096);
        
    
        var popup_d4b4a4b609284febb979be59f47e42f2 = L.popup({"maxWidth": "100%"});

        
            var html_ed126773185f4c089a1039d2ffb8ec57 = $(`<div id="html_ed126773185f4c089a1039d2ffb8ec57" style="width: 100.0%; height: 100.0%;">gigadgets_</div>`)[0];
            popup_d4b4a4b609284febb979be59f47e42f2.setContent(html_ed126773185f4c089a1039d2ffb8ec57);
        

        marker_5a90bdd0d2f746bba06a097055731921.bindPopup(popup_d4b4a4b609284febb979be59f47e42f2)
        ;

        
    
    
            var marker_ca958c88e72d4dffa751bde55dd3738a = L.marker(
                [36.34197666303527, -82.41026829904335],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_1be212b7a02d4f22808c0bb3a7727b0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightred", "prefix": "glyphicon"}
            );
            marker_ca958c88e72d4dffa751bde55dd3738a.setIcon(icon_1be212b7a02d4f22808c0bb3a7727b0c);
        
    
        var popup_87d29901e029494e8972df185354dae1 = L.popup({"maxWidth": "100%"});

        
            var html_6e0d2bf99296483fbcd469f4af82010f = $(`<div id="html_6e0d2bf99296483fbcd469f4af82010f" style="width: 100.0%; height: 100.0%;">slashdot</div>`)[0];
            popup_87d29901e029494e8972df185354dae1.setContent(html_6e0d2bf99296483fbcd469f4af82010f);
        

        marker_ca958c88e72d4dffa751bde55dd3738a.bindPopup(popup_87d29901e029494e8972df185354dae1)
        ;

        
    
    
            var marker_cf0aa82113514a209b12e447328f3af9 = L.marker(
                [55.023496627198995, 9.813298648560565],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_3eebcd291be94f03a552b78dac7911e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_cf0aa82113514a209b12e447328f3af9.setIcon(icon_3eebcd291be94f03a552b78dac7911e3);
        
    
        var popup_56f624880ba14b0091815a5046fa0c12 = L.popup({"maxWidth": "100%"});

        
            var html_391f566352d2442d98d01675e3c92baf = $(`<div id="html_391f566352d2442d98d01675e3c92baf" style="width: 100.0%; height: 100.0%;">redditSpacePorn</div>`)[0];
            popup_56f624880ba14b0091815a5046fa0c12.setContent(html_391f566352d2442d98d01675e3c92baf);
        

        marker_cf0aa82113514a209b12e447328f3af9.bindPopup(popup_56f624880ba14b0091815a5046fa0c12)
        ;

        
    
    
            var marker_f30a8f3b262543e69961eb46ab699c7a = L.marker(
                [39.72157657385738, -105.0933761100908],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_9e1c1b79120641efaebbdfb749e5ce8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_f30a8f3b262543e69961eb46ab699c7a.setIcon(icon_9e1c1b79120641efaebbdfb749e5ce8f);
        
    
        var popup_d9fe9ac834ad469c9eeaa28994d429a1 = L.popup({"maxWidth": "100%"});

        
            var html_ae1aceff6c2d4a2985912de56ec3de36 = $(`<div id="html_ae1aceff6c2d4a2985912de56ec3de36" style="width: 100.0%; height: 100.0%;">TheMarsSociety</div>`)[0];
            popup_d9fe9ac834ad469c9eeaa28994d429a1.setContent(html_ae1aceff6c2d4a2985912de56ec3de36);
        

        marker_f30a8f3b262543e69961eb46ab699c7a.bindPopup(popup_d9fe9ac834ad469c9eeaa28994d429a1)
        ;

        
    
    
            var marker_b8df9053a7b14a6283b00b95175d39d1 = L.marker(
                [40.69848521052865, -73.98713837610765],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_a625b4a78b074d498e8e1337acf5d2a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b8df9053a7b14a6283b00b95175d39d1.setIcon(icon_a625b4a78b074d498e8e1337acf5d2a6);
        
    
        var popup_a6cb449d77df48ada521348fec6a1747 = L.popup({"maxWidth": "100%"});

        
            var html_be9fe08cd99a4ae4a3b7987f764c1093 = $(`<div id="html_be9fe08cd99a4ae4a3b7987f764c1093" style="width: 100.0%; height: 100.0%;">PopMech</div>`)[0];
            popup_a6cb449d77df48ada521348fec6a1747.setContent(html_be9fe08cd99a4ae4a3b7987f764c1093);
        

        marker_b8df9053a7b14a6283b00b95175d39d1.bindPopup(popup_a6cb449d77df48ada521348fec6a1747)
        ;

        
    
    
            var marker_00a6fc4282ae449a9627b91300d8999e = L.marker(
                [33.17802074661689, -86.25226886332104],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_96020c40704240519a765782c3e45da3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "gray", "prefix": "glyphicon"}
            );
            marker_00a6fc4282ae449a9627b91300d8999e.setIcon(icon_96020c40704240519a765782c3e45da3);
        
    
        var popup_a5ee49b45f224bb38781deca6f0fa9a1 = L.popup({"maxWidth": "100%"});

        
            var html_e2ae842f56a043dca84e37376edbc424 = $(`<div id="html_e2ae842f56a043dca84e37376edbc424" style="width: 100.0%; height: 100.0%;">dogecoin</div>`)[0];
            popup_a5ee49b45f224bb38781deca6f0fa9a1.setContent(html_e2ae842f56a043dca84e37376edbc424);
        

        marker_00a6fc4282ae449a9627b91300d8999e.bindPopup(popup_a5ee49b45f224bb38781deca6f0fa9a1)
        ;

        
    
    
            var marker_1ddf8993f45d4a08a9ba05beebf8067c = L.marker(
                [37.411977190487775, -122.16971237558323],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_6dee8898614d437399ff07a5546bc0da = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightred", "prefix": "glyphicon"}
            );
            marker_1ddf8993f45d4a08a9ba05beebf8067c.setIcon(icon_6dee8898614d437399ff07a5546bc0da);
        
    
        var popup_1cc07dba61064e9b8b6dc1643e4c4978 = L.popup({"maxWidth": "100%"});

        
            var html_e879677f1ffb4087a38a20e71b73a31e = $(`<div id="html_e879677f1ffb4087a38a20e71b73a31e" style="width: 100.0%; height: 100.0%;">karpathy</div>`)[0];
            popup_1cc07dba61064e9b8b6dc1643e4c4978.setContent(html_e879677f1ffb4087a38a20e71b73a31e);
        

        marker_1ddf8993f45d4a08a9ba05beebf8067c.bindPopup(popup_1cc07dba61064e9b8b6dc1643e4c4978)
        ;

        
    
    
            var marker_d6aad558b4e844a49598467822fe37e4 = L.marker(
                [29.554269305101133, -95.1053057377608],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_ce71c91b56b348d495aed3f5e54aa34b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d6aad558b4e844a49598467822fe37e4.setIcon(icon_ce71c91b56b348d495aed3f5e54aa34b);
        
    
        var popup_39786244aa74488bb1fd8758aef5ee84 = L.popup({"maxWidth": "100%"});

        
            var html_4635fd9dc6e24321b6578ca591061efe = $(`<div id="html_4635fd9dc6e24321b6578ca591061efe" style="width: 100.0%; height: 100.0%;">Astro_Soichi</div>`)[0];
            popup_39786244aa74488bb1fd8758aef5ee84.setContent(html_4635fd9dc6e24321b6578ca591061efe);
        

        marker_d6aad558b4e844a49598467822fe37e4.bindPopup(popup_39786244aa74488bb1fd8758aef5ee84)
        ;

        
    
    
            var marker_04eec5e3feef4288945251376e90da72 = L.marker(
                [41.85997599201282, -88.29902567510115],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_480751772b08406fac740298a58f09d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_04eec5e3feef4288945251376e90da72.setIcon(icon_480751772b08406fac740298a58f09d4);
        
    
        var popup_795ce189720d428ab73932cc53cc09c2 = L.popup({"maxWidth": "100%"});

        
            var html_b43757447586438f82f86c41413ae14e = $(`<div id="html_b43757447586438f82f86c41413ae14e" style="width: 100.0%; height: 100.0%;">Nigel_Lockyer</div>`)[0];
            popup_795ce189720d428ab73932cc53cc09c2.setContent(html_b43757447586438f82f86c41413ae14e);
        

        marker_04eec5e3feef4288945251376e90da72.bindPopup(popup_795ce189720d428ab73932cc53cc09c2)
        ;

        
    
    
            var marker_5286a0a957f54c93a2629338e1c9c345 = L.marker(
                [58.585038920607204, 23.205565296882423],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_71fc530593b9453886e51c5ba3a150d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "pink", "prefix": "glyphicon"}
            );
            marker_5286a0a957f54c93a2629338e1c9c345.setIcon(icon_71fc530593b9453886e51c5ba3a150d3);
        
    
        var popup_ad038bcc734e49ce9c35108cb9bb7d4f = L.popup({"maxWidth": "100%"});

        
            var html_1fcd413b5f5e413bbeee4d04b6c5862b = $(`<div id="html_1fcd413b5f5e413bbeee4d04b6c5862b" style="width: 100.0%; height: 100.0%;">jagarikin</div>`)[0];
            popup_ad038bcc734e49ce9c35108cb9bb7d4f.setContent(html_1fcd413b5f5e413bbeee4d04b6c5862b);
        

        marker_5286a0a957f54c93a2629338e1c9c345.bindPopup(popup_ad038bcc734e49ce9c35108cb9bb7d4f)
        ;

        
    
    
            var marker_b3898f00b9bc4f31ae82dc14cae9cf56 = L.marker(
                [34.22453091387017, -102.40985597490065],
                {}
            ).addTo(feature_group_33fec1a4b3f64fb2a676deb23477dec6);
        
    
            var icon_9c4437aefac24ce59e1400419f20163e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkpurple", "prefix": "glyphicon"}
            );
            marker_b3898f00b9bc4f31ae82dc14cae9cf56.setIcon(icon_9c4437aefac24ce59e1400419f20163e);
        
    
        var popup_23881102b1614480837a58c1158b6190 = L.popup({"maxWidth": "100%"});

        
            var html_4911c60ba6574a6ab77419f8920cb8d1 = $(`<div id="html_4911c60ba6574a6ab77419f8920cb8d1" style="width: 100.0%; height: 100.0%;">AstroVicGlover</div>`)[0];
            popup_23881102b1614480837a58c1158b6190.setContent(html_4911c60ba6574a6ab77419f8920cb8d1);
        

        marker_b3898f00b9bc4f31ae82dc14cae9cf56.bindPopup(popup_23881102b1614480837a58c1158b6190)
        ;

        
    
    
            var layer_control_03980ca4c3054a328a38d031b3f58ba4 = {
                base_layers : {
                    "openstreetmap" : tile_layer_0b42c49d3b8c432fbd131a08a2eb9c6e,
                },
                overlays :  {
                    "Users" : feature_group_33fec1a4b3f64fb2a676deb23477dec6,
                },
            };
            L.control.layers(
                layer_control_03980ca4c3054a328a38d031b3f58ba4.base_layers,
                layer_control_03980ca4c3054a328a38d031b3f58ba4.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_d2849a2c1a5d42bca5e42ef8b743bc4b);
        
</script>
